doc-font()
  font-family 'Open Sans', serif
  font-weight 300
  font-size 18px

// gist.github.com/d3vron/1080346
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

flex-flow()
  vendor('flex-flow', arguments)

flex()
  vendor('flex', arguments)

gradient()
  vendor('gradient', arguments)

border-image()
  vendor('border-image', arguments)
*
  margin 0
  padding 0
  
h1, h2, h3, h4, h5, h6
  font-weight 300

html
  min-height 100%

body
  doc-font()
  min-height 100%

button
  doc-font()
  cursor pointer
  display inline-block
  border none
  background-color #aaaa
  padding 6px

wiki
  display -webkit-flex
  flex-flow row wrap
  min-height 100%

wiki-header
  display -webkit-flex
  flex-flow row wrap
  background-color #49f
  z-index 3
  flex 1 100%

  button
    flex 0 0 1
    color white
    background-color #fff0
  
    &:hover
      background-color #fff3

article-list
  z-index 1
  background-color #fefefe
  border-right 20px
  border-image linear-gradient(90deg, #fff0, #fff0 20%, #aaa5) 1 100%
  
  padding 16px
  flex 0 1 200px

  height 100%
  overflow scroll
  display block

  li
    list-style-type none

article
  z-index 2
  
  padding 16px
  display block
  flex 1 0 auto

  form input, textarea
    doc-font()
    background-color #fffa
    border none