doc-font()
	font-family 'Open Sans', serif
	font-weight 300
	font-size 18px

*
	margin 0
	padding 0
	
h1, h2, h3, h4, h5, h6
	font-weight 300

body
	doc-font()
	max-width 900px
	margin auto

button
	doc-font()
	cursor pointer
	display inline-block
	background-color rgba(white, 20%)
	border none
	padding 2px
	
	&:hover
		background-color rgba(white, 40%)

wiki-container
	display -webkit-flex

wiki-header
	display -webkit-flex
	display block
	background-color green

article-list
	padding 16px
	/* arguments grow shrink basis */
	-webkit-flex 0 1 200px
	height 100%
	overflow scroll
	display block
	background-color gray

article-list li
	list-style-type none

article
	padding 16px
	display block
	-webkit-flex 1 0 auto
	background-color dodgerblue

	form input, textarea
		doc-font()
		background-color rgba(white, 20%)
		border none