doc-font()
	font-family 'Open Sans', serif
	font-weight 300
	font-size 18px

*
	margin 0
	padding 0
	
h1, h2, h3, h4, h5, h6
	font-weight 300

html
	height 100%

body
	doc-font()
	max-width 900px
	margin auto
	min-height 100%

button
	doc-font()
	cursor pointer
	display inline-block
	background-color #fffa
	border none
	padding 2px
	
	&:hover
		background-color #fffa

wiki
	display -webkit-flex
	-webkit-flex-flow row wrap
	min-height 100%

wiki-header
	display block
	-webkit-flex 1 100%

article-list
	padding 16px
	/* arguments grow shrink basis */
	-webkit-flex 0 1 200px

	height 100%
	overflow scroll
	display block
	background-color #efefef

	li
		list-style-type none

article
	padding 16px
	display block
	-webkit-flex 1 0 auto

	form input, textarea
		doc-font()
		background-color #fffa
		border none