<h1>Woko</h1>

<articles/>

<!-- Includes -->

<script src="/views/articles.tag" type="riot/tag"></script>
<script src="/views/article.tag" type="riot/tag"></script>

<script src="//cdn.jsdelivr.net/g/riot@2.0(riot.min.js+compiler.min.js)"></script>
<script src="/javascripts/main.js" type="text/javascript"></script>

<script>
$.get('/article').done(function(articles) {
	riot.mount('*', { articles: articles })
}).error(console.error)
</script>