<wiki>
	<h1>Woko</h1>

	<article></article>

	<article-list></article-list>
</wiki>

<!-- Includes -->

<script src="/views/wiki.tag" type="riot/tag"></script>
<script src="/views/article-list.tag" type="riot/tag"></script>
<script src="/views/article.tag" type="riot/tag"></script>

<script src="//cdn.jsdelivr.net/g/riot@2.0(riot.min.js+compiler.min.js)"></script>

<script>
$.get('/article').done(function(articles) {
	riot.mount('*', {
		articles: articles,
		article: articles[0]
	})
}).error(console.error)
</script>