* {
	margin: 0;
}

body {
	font-family: 'Lora', serif;
	font-size: 18px;
	padding: 16px;
}

.logout {
	position: absolute;
	right: 16px;
	top: 16px;
}

.button {
	padding: 8px;
	background-color: #eee;

	color: black;
	text-decoration: none;

	border-bottom: solid 2px #ccc;

	transition:
		background-color 200ms;
}

.button:hover {
	background-color: #e8e8e8;
}

.button:active {
	padding-top: 9px;
	padding-bottom: 7px;
	border: none;
}

.user {
	color: black;
	display: block;
	overflow: hidden;
}

#container {
	position: relative;
}

article-list {
	box-sizing: border-box;
	width: 20%;
	position: relative;
	display: inline-block;
}

article-list li {
	list-style-type: none;
}

article {
	position: fixed;
	box-sizing: border-box;
	width: 80%;
	padding: 16px;
	padding-right: 0px;
	display: inline-block;
	top: 3em;
}

.tweet-form {
	padding-top: 8px;
}

.tweet-input-container {
	margin-bottom: 8px;
}

.tweet-input {
	box-sizing: border-box;
	font-family: 'Lora', serif;
	font-size: 18px;
	font-style: italic;

	width: 70%;
	margin: 0;
	height: 40px;
	padding: 8px;
	border: none;
	outline: none;
	border-bottom: solid 2px #ccc;

	transition:
		border-bottom-color 200ms,
		background-color 200ms;
}

.tweet-input:focus {
	background-color: #eee;
	border-bottom-color: #333;
}

.tweet-submit {
	box-sizing: border-box;
	font-family: 'Lora', serif;
	font-size: 18px;
	font-style: italic;
	text-align: center;
	color: #888;

	height: 40px;
	padding: 8px;
	border: none;
	outline: none;
	background-color: #ddd;
	border-bottom: solid 2px #ccc;

	cursor: pointer;

	transition:
		border-bottom-color 200ms,
		background-color 200ms;
}

.tweet-submit:focus {
	background-color: #eee;
	border-bottom-color: transparent;
}

.tweet-submit:hover {
	background-color: #eee;
	color: #333;
	border-bottom-color: transparent;
}

.tweet {
	position: relative;
	padding: 16px;
	margin: 16px 0;

	background-color: #eee;
	transition:
		background-color 500ms;

	border-bottom: 2px solid #ddd;
}

.tweet-delete {
	position: absolute;
	top: 6px;
	right: 6px;

	width: 16px;
	height: 8px;

	background-color: #bef;
}

.tweet-delete:hover {
	background-color: #adf;
}

.tweet-delete:active {
	background-color: #9cf;
}

.new {
	background-color: #bef !important;
}

.highlight {
	background-color: #bef !important;
}

.tweet-content {
	font-size: 1.1em;
	font-style: italic;
}

.tweet-auth {
	color: #333;

	text-align: right;
}