wiki-container {
	display: -webkit-flex;
}

wiki-header {
	display: block;
}

article-list {
	padding: 16px;
/* arguments: grow shrink basis */
	-webkit-flex: 0 1 200px;
	height: 100%;
	overflow: scroll;
	display: block;
}

article-list li {
	list-style-type: none;
}

article {
	padding: 16px;
	display: block;
	-webkit-flex: 1 0 auto;
}
